include README.md

include setupbase.py

include package.json
include webpack.config.js
include desdeo_vis/labextension/*.tgz

# Javascript files
graft desdeo_vis/nbextension
graft src
prune **/node_modules
prune lib

# Patterns to exclude from any directory
global-exclude *~
global-exclude *.pyc
global-exclude *.pyo
global-exclude .git
global-exclude .ipynb_checkpoints
